
.contact{
    background: url(../../../assets/images/contact.png);
    background-size: cover ;
    height: 100vh;
    width: 100%;
    position: relative;
}
.contact .btn{
    font-family: 'playfair Display';
    position: absolute;
 background: rgba(250, 250, 250, 0.75);
    border-radius: 10px;
    width: 222px;
    height: 65px;
    left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-weight: 700;
   font-size: 24px;
}
